CardGameClient/.vs/*
CardGameClient/*.csproj
CardGameClient/Assets/TextMesh\ Pro/Examples\ &\ Extras/*
CardGameClient/Builds/*
CardGameClient/Library/*
CardGameClient/Logs/*
CardGameClient/Packages/*
CardGameClient/Temp/*
CardGameClient/obj/*
CardGameClient/*.sln

CardGameServer/.vs/*
CardGameServer/*.sln
CardGameServer/CardGameServer/*.csproj
CardGameServer/CardGameServer/bin/Debug/*
CardGameServer/CardGameServer/obj/*
CardGameServer/packages/*
